<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-full flex flex-wrap items-center justify-between mx-auto p-2 lg:p-4">
    <a href="#" class="flex items-center space-x-2 lg:space-x-3 rtl:space-x-reverse">
      <img src="https://images.sftcdn.net/images/t_app-icon-m/p/6621d159-46ab-4a88-a14c-0cb108267e21/2957382984/pegue-o-pombo-logo" class="h-8" alt="OPombo Logo" />
      <span class="self-center text-lg lg:text-2xl font-semibold whitespace-nowrap dark:text-white">OPombo</span>
    </a>
    <div class="flex md:order-2 items-center space-x-2">
      <div class="relative group">
        <button class="relative w-9 h-9 lg:w-10 lg:h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 focus:outline-none">
          <svg class="absolute w-11 h-11 lg:w-12 lg:h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
          </svg>
        </button>
        <div class="hidden absolute right-0 mt-2 w-40 lg:w-48 bg-white rounded-lg shadow-lg dark:bg-gray-800 group-focus-within:block group-hover:block">
          <button (click)="redirectToProfileDetails()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">Perfil</button>
          <button (click)="logOut()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">Logout</button>
        </div>
      </div>
      <div class="flex flex-col items-start">
        <p class="text-sm text-gray-700 dark:text-gray-200">{{usuario.nome}}</p>
      </div>
    </div>
  </div>
</nav>

<div class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg p-6 mt-8">
  <h2 class="text-2xl font-bold text-gray-800 mb-4">Detalhes da Denúncia</h2>

  <div class="space-y-4">

    <div>
      <label class="block text-sm font-medium text-black-700">Denunciante:</label>
      <p class="text-gray-800">{{ denuncia.denunciante?.nome }}</p>
    </div>

    <div>
      <label class="block text-sm font-medium text-black-700">Mensagem Denunciada:</label>
      <p class="text-gray-800">{{ denuncia.mensagem?.texto }}</p>
    </div>

    <div>
      <label class="block text-sm font-medium text-black-700">Motivo da Denúncia:</label>
      <p class="text-gray-800">{{ denuncia.motivo }}</p>
    </div>

    <div>
      <label class="block text-sm font-medium text-black-700">Data da Denúncia:</label>
      <p class="text-gray-800">{{ denuncia.dataHoraCriacao | date: 'dd/MM/yyyy HH:mm' }}</p>
    </div>

    <div>
      <label class="block text-sm font-medium text-black-700">Situação Atual:</label>
      <p class="text-gray-800">{{ denuncia.situacao }}</p>
    </div>
    <div class="flex justify-center space-x-4">
      <div class="w-40">
        <button  (click)="rejeitarDenuncia()" type="button" class="w-full text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Rejeitar denúncia</button>
      </div>
      <div class="w-45">
        <button (click)="bloquearMensagem()" type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Bloquear mensagem</button>
      </div>
    </div>
  </div>
</div>
