<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div
    class="max-w-full flex flex-wrap items-center justify-between mx-auto p-2 lg:p-4"
  >
    <a
      href="#"
      class="flex items-center space-x-2 lg:space-x-3 rtl:space-x-reverse"
    >
      <img
        src="https://images.sftcdn.net/images/t_app-icon-m/p/6621d159-46ab-4a88-a14c-0cb108267e21/2957382984/pegue-o-pombo-logo"
        class="h-8"
        alt="OPombo Logo"
      />
      <span
        class="self-center text-lg lg:text-2xl font-semibold whitespace-nowrap dark:text-white"
        >OPombo</span
      >
    </a>
    <div class="flex md:order-2 items-center space-x-2">
      <div class="relative group">
        <button
          class="relative w-9 h-9 lg:w-10 lg:h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 focus:outline-none"
        >
          <svg
            class="absolute w-11 h-11 lg:w-12 lg:h-12 text-gray-400 -left-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div
          class="hidden absolute right-0 mt-2 w-40 lg:w-48 bg-white rounded-lg shadow-lg dark:bg-gray-800 group-focus-within:block group-hover:block"
        >
          <button
            (click)="redirectToProfileDetails()"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
          >
            Perfil
          </button>
          <button
            (click)="logOut()"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
          >
            Logout
          </button>
        </div>
      </div>
      <div class="flex flex-col items-start">
        <p class="text-sm text-gray-700 dark:text-gray-200">
          {{ usuario.nome }}
        </p>
      </div>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-search"
    >
      <ul
        class="flex flex-col p-2 lg:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 lg:space-x-16 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Feed</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="card w-full mx-auto shadow-lg rounded-lg">
  <div class="card-header bg-info text-black flex justify-center items-center"> <!-- Centraliza o conteúdo -->
    <h5 class="text-2xl font-bold text-gray-900 dark:text-white mb-7">
      Listagem de denúncias
    </h5>
  </div>


  <div class="card-body p-4">
    <form class="space-y-4 md:space-y-6" action="#">
      <div class="grid grid-cols-2 gap-4">
        <!-- Filtro por Motivo -->
        <div>
          <label
            for="motivo"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Motivo:</label
          >
          <select
            [(ngModel)]="seletor.motivo"
            name="motivo"
            id="motivo"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option *ngFor="let motivo of motivoDenunciaEnum" [value]="motivo">
              {{ motivo }}
            </option>
          </select>
        </div>

        <div>
          <label
            for="situacao"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Situação:</label
          >
          <select
            [(ngModel)]="seletor.situacao"
            name="situacao"
            id="motivo"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option
              *ngFor="let situacao of situacaoDenunciaEnum"
              [value]="situacao"
            >
              {{ situacao }}
            </option>
          </select>
        </div>

        <!-- Filtro por Data Inicial de Criação -->
        <div>
          <label
            for="dataInicialCriacao"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Data Inicial de Criação:</label
          >
          <input
            [(ngModel)]="seletor.dataInicialCriacao"
            type="date"
            name="dataInicialCriacao"
            id="dataInicialCriacao"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>

        <!-- Filtro por Data Final de Criação -->
        <div>
          <label
            for="dataFinalCriacao"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Data Final de Criação:</label
          >
          <input
            [(ngModel)]="seletor.dataFinalCriacao"
            type="date"
            name="dataFinalCriacao"
            id="dataFinalCriacao"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
      </div>

      <!-- Botões -->
      <div class="flex justify-center space-x-4">
        <div class="w-40">
          <button
            (click)="limpar()"
            type="button"
            class="w-full text-white bg-gray-500 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
          >
            <i class="bi bi-trash"></i> Limpar
          </button>
        </div>
        <div class="w-40">
          <button
            (click)="pesquisar()"
            type="button"
            class="w-full text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            <i class="bi bi-search"></i> Pesquisar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="w-full mt-8">
  <!-- Tabela de Mensagens Denunciadas -->
  <table class="w-full bg-white border border-gray-300 rounded-lg shadow-lg">
    <thead>
      <tr>
        <th class="p-4 text-left">Denunciante</th>
        <th class="p-4 text-left">Mensagem</th>
        <th class="p-4 text-left">Motivo</th>
        <th class="p-4 text-left">Situação</th>
        <th class="p-4 text-left">Data da Denúncia</th>
        <th class="p-4 text-left">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (denuncia of denuncias; track denuncia.id) {
      <tr class="border-t border-gray-200">
        <td class="p-4">{{ denuncia.denunciante?.nome }}</td>
        <td class="p-4">{{ denuncia.mensagem.texto }}</td>
        <td class="p-4">{{ denuncia.motivo }}</td>
        <td class="p-4">{{ denuncia.situacao }}</td>
        <td class="p-4">
          {{ denuncia.dataHoraCriacao | date : "dd/MM/yyyy HH:mm" }}
        </td>
        <td class="p-4 flex space-x-4">
          <button
            (click)="analisar(denuncia.id)"
            class="bg-green-500 text-white p-2 rounded-lg hover:bg-yellow-600"
          >
            Analisar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<nav class="w-full max-w-3xl mx-auto mt-4">
  <div class="flex justify-between items-center">
    <div>
      <label
        for="quantidadeRegistros"
        class="block text-sm font-medium text-gray-900"
        >Quantidade de registros por página:</label
      >
      <select
        id="quantidadeRegistros"
        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
        [(ngModel)]="seletor.limite"
        (change)="atualizarPaginacao()"
      >
        <option value="3">3</option>
        <option value="6">6</option>
        <option value="20">20</option>
      </select>
    </div>
    <ul class="flex space-x-1">
      <li>
        <button
          [disabled]="seletor.pagina == 1"
          (click)="voltarPg()"
          class="px-3 py-2 border border-gray-300 rounded-md text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Anterior
        </button>
      </li>
      <li *ngFor="let indice of criarArrayPaginas()">
        <button
          (click)="irParaPagina(indice)"
          class="px-3 py-2 border border-gray-300 rounded-md text-sm font-medium text-gray-700 bg-white hover:bg-gray-50"
        >
          {{ indice }}
        </button>
      </li>
      <li>
        <button
          [disabled]="seletor.pagina == totalPaginas"
          (click)="proximaPg()"
          class="px-3 py-2 border border-gray-300 rounded-md text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Próxima
        </button>
      </li>
    </ul>
  </div>
</nav>
